.cart-button{
    width: 23%;
    background:white ;
    border: solid 2px;
    border-color: black;
}

.amount-toggle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2.0rem;
    font-size: 1.0rem;
}

.amount-style {
    font-size: 1.4rem;
    color:lightgray;
    
}